/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  padding: 5px 8%;
  display: flex;
  justify-content: space-between;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #0f0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(28, 196, 28);
  color: black;
}


/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.logo {
  background-image: url("../assets/logo.png");
  width: 55px;
  height: 55px;
  margin-top: 4px;
  background-size: 55px;
}

.navLinks {
  margin-top: -15px;
}

.logoSection {
  display: flex;
  align-items: center;
}

.buybusy{
  margin-left: 1rem;
  color: white;
  font-weight: 800;
  font-size: 20px;
}
